name: Pre-release ontology

on:
  push:
    branches: ['main']
  workflow_dispatch: {}

jobs:
  package:
    name: "Package"
    runs-on: "ubuntu-latest"
    container: ghcr.io/rdf-stax/ci-worker:main
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          path: stax

      - name: Package ontology
        run: python /app/tasks/package.py stax/src output dev

      - name: Generate documentation
        run: python /app/tasks/doc_gen.py output/stax.ttl output

      - name: Upload files for the release
        uses: ncipollo/release-action@v1.13.0
        with:
          allowUpdates: true
          prerelease: true
          draft: false
          omitDraftDuringUpdate: false
          makeLatest: false
          tag: "dev"
          name: "Development pre-release"
          artifacts: 'output/*'
          generateReleaseNotes: true

  call-publish:
    uses: ./.github/workflows/publish.yml
    with:
      tag: dev
    permissions:
      contents: write
