name: Publish documentation
on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
          cache: pip
          cache-dependency-path: 'requirements.txt'

      - name: Download ontology docs
        run: |
          TAG='${{ inputs.tag }}'
          wget https://github.com/RDF-STaX/rdf-stax.github.io/releases/download/$TAG/docs.html -O docs/includes/docs.html

      - name: Deploy site
        run: |
          TAG='${{ inputs.tag }}'
          git fetch origin gh-pages --depth=1
          git config user.name ci-bot
          git config user.email ci-bot@example.com
          if [[ $TAG == v* ]] ; then
            mike deploy --push --update-aliases "${TAG#v}" stable
          else
            mike deploy --push dev
          fi
